@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;400&display=swap');


:root{
    --color-white: #FEFFFE;
    --color-black: #000000;
    --color-violet: #74526C;
    --color-blue: #7192BE;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-black);
    box-sizing: border-box;
    font-family: 'Geologica', sans-serif;
}
.portfolio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    margin-inline: 30%;
}
.portfolio_apresentacao{
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    width: 300px;
    gap: 10px;
    
}
.portfolio_sobremim{
    display: flex;
    color: var(--color-white);
    width: 710px;
    align-items: center;
    margin-block: 6%;
    margin-inline: 20%;
    gap: 30px;
}
.strong{
    color: var(--color-blue);
}
.portfolio_apresentacao_titulo{
    font-weight: 400;
}
.portfolio_apresentacao_subtitulo{
    font-weight: 200;
}
img{
    width: 200px;
}
.links{
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 150px;
    margin-inline: 70px;
    margin-top: 30px;
}
.links_icones{
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid var(--color-violet);
    padding: 10px;
}
.cabecalho_links{
    display: flex;
    padding: 5% 0% 0% 18%;
    gap: 10px;
}
.cabecalho_links_titulo{
    color: var(--color-blue);
    font-weight: 400;
    text-decoration: none;
}

.portfolio_apresentacao_links{
    color: var(--color-white);
    text-decoration: none;
    text-align: center;
}
.links_icones:hover{
    background-color: var(--color-violet);
}
.rodape{
    margin-top: 10%;
    color: var(--color-white);
    background-color: #7192BE;
    padding: 18px;
    font-weight: 200;
    text-align: center;
}
.icones{
    width: 20px;
}